# 멋쟁이 사자처럼 AI School 7기 
## Part 3. 반복문
### 1. for 반복문
#### for in list
코드를 반복해서 실행하는 `for 반복문`

```python
for 내용을 대입할 변수 in 반복하려는 내용:
    반복할 코드 블록
```

In [2]:
patterns = ["가위", "바위", "보", "가위", "바위", "보", "가위", "바위", "보"]

for pattern in patterns:
    print(pattern)

가위
바위
보
가위
바위
보
가위
바위
보

`for 반복문`은 코드를 필요한 만큼 반복해서 실행하는 기능

In [3]:
len(patterns)

9

리스트의 길이 만큼 반복문이 실행되었음

#### for in range
`for 반복문`을 이용해 원하는 횟수만큼 반복하는 방법

In [11]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
names = ["James", "Kate", "Ban", "Nami"]

for i in range(len(names)):
    print(f"{i}번째 학생: {names[i]}")

0번째 학생: James
1번째 학생: Kate
2번째 학생: Ban
3번째 학생: Nami

In [18]:
for i, name in enumerate(names):
    print(f"{i}번째 학생: {name}")

0번째 학생: James
1번째 학생: Kate
2번째 학생: Ban
3번째 학생: Nami

##### [직접 해보기] 무지개의 색상을 순서와 함께 출력해보기

In [ ]:
rainbow = ["빨", "주", "노", "초", "파", "남", "보"]

### [직접 해보기] 구구단 만들기

In [35]:
#2단부터 9단까지

for i in range(2,10):
    print()    
    print("i=",i)
    print()
    for j in range(1,10):
        print("j=",j)
        print(f"{i}*{j}={i*j}")

i= 2

j= 1
2*1=2
j= 2
2*2=4
j= 3
2*3=6
j= 4
2*4=8
j= 5
2*5=10
j= 6
2*6=12
j= 7
2*7=14
j= 8
2*8=16
j= 9
2*9=18

i= 3

j= 1
3*1=3
j= 2
3*2=6
j= 3
3*3=9
j= 4
3*4=12
j= 5
3*5=15
j= 6
3*6=18
j= 7
3*7=21
j= 8
3*8=24
j= 9
3*9=27

i= 4

j= 1
4*1=4
j= 2
4*2=8
j= 3
4*3=12
j= 4
4*4=16
j= 5
4*5=20
j= 6
4*6=24
j= 7
4*7=28
j= 8
4*8=32
j= 9
4*9=36

i= 5

j= 1
5*1=5
j= 2
5*2=10
j= 3
5*3=15
j= 4
5*4=20
j= 5
5*5=25
j= 6
5*6=30
j= 7
5*7=35
j= 8
5*8=40
j= 9
5*9=45

i= 6

j= 1
6*1=6
j= 2
6*2=12
j= 3
6*3=18
j= 4
6*4=24
j= 5
6*5=30
j= 6
6*6=36
j= 7
6*7=42
j= 8
6*8=48
j= 9
6*9=54

i= 7

j= 1
7*1=7
j= 2
7*2=14
j= 3
7*3=21
j= 4
7*4=28
j= 5
7*5=35
j= 6
7*6=42
j= 7
7*7=49
j= 8
7*8=56
j= 9
7*9=63

i= 8

j= 1
8*1=8
j= 2
8*2=16
j= 3
8*3=24
j= 4
8*4=32
j= 5
8*5=40
j= 6
8*6=48
j= 7
8*7=56
j= 8
8*8=64
j= 9
8*9=72

i= 9

j= 1
9*1=9
j= 2
9*2=18
j= 3
9*3=27
j= 4
9*4=36
j= 5
9*5=45
j= 6
9*6=54
j= 7
9*7=63
j= 8
9*8=72
j= 9
9*9=81

### 2. while 반복문
`while`문은 `for`문과 같은 반복문이지만 `if`문과 사용법이 더 비슷함

In [36]:
#while 뒤 조건문이 False일때 까지 계속 실행한다!


while True:
    print('출력하세요!')
    
    break

NameError: name '조건문' is not defined

In [37]:
age = 24

while age<80:
    age = age+1
    print(age)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80

In [2]:
selected = None

if selected not in ["가위", "바위", "보"]:
    selected = input("가위, 바위, 보 ? > ")

print(f"선택된 값: {selected}")

선택된 값: 가

In [1]:
selected = None

while selected not in ["가위", "바위", "보"]:
    selected = input("가위, 바위, 보 ? > ")

print(f"선택된 값: {selected}")

선택된 값: 가위

`while`문은 조건이 만족하지 않을 때까지 실행됨

#### for <-> while

In [3]:
patterns = ["가위", "바위", "보"]

for pattern in patterns:
    print(pattern)

가위
바위
보

In [38]:
# range 사용
for i in range(len(patterns)):
    print(patterns[i])

가위
바위
보
가위
바위
보
가위
바위
보

In [39]:
i = 0
while i<len(patterns):
    # print(i)
    print(patterns[i])
    i += 1

가위
바위
보
가위
바위
보
가위
바위
보

##### [직접 해보기] while문 작성해보기
모든 값 출력하기

In [ ]:
numbers = [1, 2, 3, 4, 5]
while _____:
    print(____)

In [42]:
numbers = [1, 2, 3, 4, 5]
while True:
    print(numbers)
    break

[1, 2, 3, 4, 5]

In [44]:
numbers = [1, 2, 3, 4, 5]
while True:
    for i in range(len(numbers)):
      print(numbers[i])
    break

1
2
3
4
5

In [46]:
i = 1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

In [47]:
numbers = [1, 2, 3, 4, 5]
i=0
while i<5:
    print(numbers[i])
    i+=1

1
2
3
4
5

In [48]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8,9, 10]

i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

1
2
3
4
5

##### [직접 해보기] 짝수만 출력해보기
`반복문`과 `조건문`을 사용해 1부터 50까지의 짝수만 출력해보기,  
`print()` 함수의 `end=` 옵션을 이용하면 출력 형식에 변화를 줄 수 있습니다.

In [11]:
print(1)
print(2)
print(3)

1
2
3

In [12]:
print(1, end=" ")
print(2, end=" ")
print(3, end=" ")

1 2 3

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

### 3. break와 continue
#### 3-1. break
반복문 안에서 `break`가 실행되면 반복을 즉시 종료하고 반복문 블록을 빠져 나감

In [13]:
l = range(1, 11)
for v in l:
    # 값이 5인 경우 반복문을 종료
    if v==5:
        break
    print(v)

1
2
3
4

### 3-2. continue
`break`가 반복문을 즉시 끝내는 기능이면, `continue`는 이번 반복만 끝내고 다음 반복을 당장 시작하게하는 기능

In [50]:
# 10까지의 홀수만 출력하고, 홀수가 아닌 경우는 다음 반복문으로 넘어감
for i in range(1, 11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

### 3-3. pass
`pass`는 기능을 구현하지 않고 그냥 넘어가는 경우에 사용함

In [51]:
for i in range(1, 11):
    pass

In [53]:
if number %2==0:
    print('')
else:
    print('')

NameError: name 'number' is not defined

위와 같은 코드는 `for` 반복문 안에 코드가 작성되어 있지 않아 (형식에 맞지 않아) 오류가 발생하지만,

In [16]:
for i in range(1, 11):
    pass

`pass`를 이용하는 경우, 오류 없이 실행되는 모습을 볼 수 있음

##### [직접 해보기] 값이 32인 값들의 인덱스(위치)를 모두 출력하기

In [ ]:
s = [33, 35, 34, 37, 32, 35, 39, 32, 35, 29]

for i, size in enumerate(s): # enumerate는 인덱스와 값을 묶어 반환하는 함수
    #